.activeLink,
.navbarLink,
.menuButton {
  display: block;
  position: relative;
  text-align: center;
  padding: 0.2em 0;
}

/* Fade in */
.navbarLink::after,
.menuButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #303030;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.navbarLink:hover::after,
.navbarLink:focus::after,
.menuButton:hover::after {
  opacity: 1;
  transform: translateY(0.2em);
}

.activeLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #303030;
  opacity: 1;
  transform: translateY(0.2em);
}
